body {
    background-color: white;

}

.container {
/* 	  display: flex;
  flex-direction: column;
	
    width: 80%;
    heiht: 100%;
    background:  #fffae6
	;
    margin: auto;
    padding: 10px;
    position:relative; */
    bottom:0px;
    margin: 0px auto;
    padding: 10px;
     box-shadow: 0px 8px 10px gray, 
        -10px 8px 10px gray, 10px 8px 10px gray;
}

#dashboard {
    text-align: center;
    margin: 1px;
}

.sel_show{
	display: inline-block;
}


#bootstrap-overrides .sel_id .btn-default{
 background-color: #b3b3b3;;
    /* Green */
   color:white;
     
   	}

#showing_for {
    color: #ff0066;

}


.bokeh_class{
	display: inline-block;
}

.floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;  
}

.button {
    background-color: #b3b3b3;
    /* Green */
    border: none;
    
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color:white;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}


.button1 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 
/* .col-lg-4{
margin-top: 5px;    margin-bottom: 5px;
} */
  
#ticket_table_length{
	
}  
  
.bk-plot-wrapper table {
    margin: 0 auto;
}
.bk-root { height: auto;
width: auto; }