body {
    background-color: white;

}

.container {
/* 	  display: flex;
  flex-direction: column;
    display:block;
	
    width: 80%;
    heiht: 100%;
    background:  #fffae6
	;
    margin: auto;
    padding: 10px;
    position:relative; */
    bottom:0px;
    margin: 0px auto;
    padding: 10px;
   /*   box-shadow: 0px 8px 10px gray, 
        -10px 8px 10px gray, 10px 8px 10px gray;
 */}

#dashboard {
    text-align: center;
    margin: 1px;
}

.sel_show{
	display: inline-block;
}


#bootstrap-overrides .sel_id .btn-default{
 background-color: #b3b3b3;;
    /* Green */
   color:white;
     
   	}

#showing_for {
    color: #ff0066;

}


.bokeh_class{
	display: inline-block;
}

.floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;  
}


/*
green : 6B8E23
medium stale blue : 7B68EE
*/

  
#buttons .button ,#load_confirm .button{
    background-color: #F5AD5B	;
    /* Green */
    border: none;
    
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color:black;
    display: inline-block;
    font-size: 20px;
    margin: 10px; 
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}



/*
green : 6B8E23
medium stale blue : 7B68EE
*/
.text_box{
	background-color: #4169E1	;
    /* Green */
    border: none;
    
    padding: 10px;
    max-width:300px;
    text-decoration: none;
    color:white;
    
    font-size: 16px;
    margin: 10px; 
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    
    
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }
.pie_container {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  
  	margin-top:4px;
  margin-bottom:4px    
  }

.line_container {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin :  5px 5px;
    padding:2px
}

 
/* .col-lg-4{
margin-top: 5px;    margin-bottom: 5px;
} */
  

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2,#load_confirm .button2 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin :  5px 0px
}
 
 .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 
 
 .table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;  
  word-wrap:break-word;  
}
 