<!DOCTYPE html>
<html lang="en">

<head>
    <title>SPM Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.css">
    
    
       
    
   <script>

/*    $(document).ready(function() {
		$("#new_bt").click(function(){	

			doSomething();
			
    });
		});
    */
   </script>
    
</head>

<body>
    <div class="container">
        <h2 id="dashboard">Production Engineering Dashboard</h2>
                
        
       <!-- <form action="/sprint_summary_post_form/" method="POST">{% csrf_token %} {{form}} -->

		<div id="buttons">
			<button id="bug_report" type='button' value="Bug Report"
				name="Bug Report" class="button button1" onClick="doPOSTForm(this)">Bug_Report</button>
			<button id="ticket_report" type='button' value="Ticket Report"
				name="Ticket Report" class="button button2"
				onClick="doPOSTForm(this)">Ticket_Report</button>

		</div>
		<!-- </form> -->
        <div><p id="showing_for"></p></div>
    
    <div id="bokeh_graph" >
             {{ div | safe }}
        </div>
    {{ script | safe}}
        <img src="" id="image_box" align="middle">
		<button type="button" id="new_bt" onClick="doSomething();">Change Content</button>
    </div>
</body>
<script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>

	<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>

    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
    
	
</html>