<!DOCTYPE html>
<html lang="en">

<head>
<title>SPM Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

<link rel="stylesheet" type="text/css" href="/static/index.css">



</head>

<body id="bootstrap-overrides">
	<div class="container">
		<h2 id="dashboard">Production Engineering Dashboard</h2>

 	 <!-- 
		<select data-live-search="true" data-live-search-style="startsWith"
			class="selectpicker sel_id" >
			<option selcted="selected">Select Sprint</option>
			<option>17.12</option>
			<option>18.2</option>
		</select> -->
		<!-- <form action="/sprint_summary_post_form/" method="POST">{% csrf_token %} {{form}} -->
 
 
		<div id="buttons" class="row">

			<button id="ticket_report"  class="col-lg-2 button button2"   type='button' value="Ticket Report"
				name="Ticket Report" class=""
				onClick="getTicketData()">Ticket_Report</button>

			<button id="pie_data" class="col-lg-2 button button2"  type='button' value="pie_data" name="pie_data"
			 onClick="pie_data()">Summay Charts</button>

			<button id="InflowVSOutflow"  class="col-lg-2 button button2" type='button' value="InflowVSOutflow"
				name="InflowVSOutflow"  
				onClick="Draw_InflowVSOutflow()">InflowVSOutflow</button>


			<button id="Incident_VS_SR"  class="col-lg-2 button button2" type='button' value="line_data"
				name="Incident_VS_SR"  
				onClick="Draw_Incident_VS_SR()">Incident_VS_SR</button>

			<button id="fill_Data"  class="col-lg-2 button button2" type='button' value="Fill Data"
				name="Fill Data"   onClick="loadConfirmSync()">Sync
				Latest Data</button>

</div>

		

 <div id="load_confirm" class="row" style="display: none"> 

  
			<button  type='button' value="load_confirm"
				name="load_confirm" class="button button2"  onClick="loadConfirm()"  style="  margin text-align: center;position: absolute; padding=40px"
				>Confirm To Sync</button>

 </div> 

		<div id="loader_id"  style=" margin: 50px 400px 40px 400px"; class="nothing"></div>

		<div>

			<h2 class="text-center" id="Sync_Job_Status"></h2>

		</div>

		<div class="row">
			<div class="col-lg-4" id="pie_container1"></div>

			<div class="col-lg-4" id="pie_container2"></div>
			<div class="col-lg-4" id="pie_container3"></div>

			<div class="col-lg-4" id="pie_container4"></div>
			<div class="col-lg-4" id="pie_container5"></div>

			<div class="col-lg-4" id="pie_container6"></div>
			<div class="col-lg-4" id="pie_container7"></div>

			<div class="col-lg-4" id="pie_container8"></div>

			<div class="col-lg-4" id="pie_container9"></div>

			<div class="col-lg-4" id="pie_container10"></div>
			<div class="col-lg-4" id="pie_container11"></div>

			<div class="col-lg-4" id="pie_container12"></div>

		</div>

		<div id="container1"
			style="min-width: 200px; height: 400px; max-width: 800px; margin: 10px"></div>
		<div id="container2"
			style="min-width: 200px; height: 400px; max-width: 800px; margin: 10px"></div>

		<div id="container3"
			style="min-width: 200px; height: 400px; max-width: 800px; margin: 10px"></div>
		<div id="container4"
			style="min-width: 200px; height: 400px; max-width: 800px; margin: 10px"></div>


		<div id="container5"
			style="min-width: 200px; height: 400px; max-width: 800px; margin: 10px"></div>
		<div id="container6"
			style="min-width: 200px; height: 400px; max-width: 800px; margin: 10px"></div>



		<div>
			<p id="showing_for"></p>
		</div>

 

		<div id="table-container">

			<table id="ticket_table" class="table table-striped table-bordered" 
				width="100%"></table>
		</div>
	</div>

</body>


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css"></script>
<script
	src="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<script type="text/javascript" src="/static/g_chart.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script
	src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></script>

<script type="text/javascript" src="/static/index.js"></script>
</html>